@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"] the Pizza Parlor</h1>

<p>Founded in 2023 by students of the CIS 400 course, the Pizza Parlor offers delicious pizza, wings, breads-with-flavoring, and drink options in a multitude of customizations.</p>