html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.item-instructions{
    font-size: 10px;
    text-align: left;
    margin-left:2px;
    margin-top: 2px;
    margin-bottom: 2px;    
}

.menu-item{
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom:5px;
}
.item-details {
    font-size: 12px;
    text-align: left;
}